
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item " [ngClass]="{'active' : f}" data-bs-interval="5000" *ngFor="let item of items ; let f = first ">
            <img [src]="'https://image.tmdb.org/t/p/original'+item?.backdrop_path" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{item?.original_title}}</h5>
              <p>{{item?.overview}}</p>
            </div>
          </div>
        </div>
      </div>

