<footer class=" text-white py-3 mt-5" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- <img style="width: 118px;" src="https://hd.fmoviesto.site/images/logo-light.png" alt="https://hd.fmoviesto.site/images/logo-light.png"> -->
        <p class="text-muted mt-3" id="pp" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>FMovies</strong> is the best <strong>free streaming site</strong> 2023, where you can watch movies online for free, no registration required. With a large database and great features, we're confident that FMovies is the best free online movie site in the space you just can't miss!</p>
      </div>
      <div class=" col-md-4 mx-">
        <h5 class="mb-3">Contact Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2" style="color: rgb(86, 86, 86);"><i style="color: aliceblue;"class="fa fa-map-marker" aria-hidden="true"></i> 123 Main Street, Suite 500, Anytown, USA</li>
          <li class="mb-2"><i class="fa fa-envelope fa-fw me-2"></i><a id="footerhover" style="color:rgb(86, 86, 86);" href="mailto:info@example.com" >FMovies@example.com</a></li>
          <li class="mb-2"><i class="fa fa-phone fa-fw me-2"></i><a id="footerhover" style="color:rgb(86, 86, 86);" href="tel:+1234567890">+1 (234) 567-8901</a></li>
        </ul>
      </div>
      <div class="col-md-2 ">
        <h5 class="mb-3">Connect with Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item me-4"><a href="#" class="text-white"><i class="fa fa-facebook-f fa-lg fa-fw"></i></a></li>
          <li class="list-inline-item me-4"><a href="#" class="text-white"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>
          <!-- <li class="list-inline-item me-4"><a href="#" class="text-white"><i class="fa fa-linkedin-in fa-lg fa-fw"></i></a></li> -->
          <li class="list-inline-item me-4"><a href="#" class="text-white"><i class="fa fa-instagram fa-lg fa-fw"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <hr class="bg-white my-4">
        <p class="small text-muted">© 2023 FMovies. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>